<div class="fixed-top">
<header>

    <span class="left-menu">
        <i class="fas fa-th iconos"></i>
        <i class="fas fa-search iconos"></i>
    </span>
    <span class="cont-logo">
        <img class="logo" src="/imagenes/logo.JPG" alt="logo"> 
    </span>
    <span class="right-menu">
        <i class="fas fa-user iconos"></i>
        <i class="fas fa-shopping-cart iconos"></i>
    </span>

</header>
</div>
