<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MaMeLi - Perfil</title>
        <link rel="stylesheet" href="/css/shop.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productForm.css">
    </head> 
  
    <body>

        <%- include('../partials/header') %>

        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h1>user/perfil</h1>
        <h3>user/perfil</h3>


        </main>
    
        <%- include('../partials/footer') %>

        <script src="https://kit.fontawesome.com/17464b966e.js" crossorigin="anonymous"></script>

    </body>

</html>